html, body {
  height: 100%;
}
#root {
  height: 100%;
}

.App {
  background: url('/public/backgroundimg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  height: 100%;
}

.header {
  position: relative;
}

.header h1 {
  text-align: center;
  margin: 0;
  padding-top: 15px;
  color: rgba(255, 255, 255, 0.5);
}

.highlight { 
  color: black;
}

.avatar {
  background: url('/public/heartIcon.png') no-repeat center center;
  background-size: 48px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 4px solid rebeccapurple;
  position: absolute;
  right: 16px;
  top: 10px;
}

.main {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.column {
  width: 31%;
  text-align: left;
  background: rgba(255, 255, 255, 0.2);
  /*padding: 20px;*/
  margin: 20px 0;
  border-radius: 10px;

}

.inputField {
  font-size: 1.1rem;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 50px;
  padding: 1rem 2.7rem 1rem 1.5rem;
  width: calc(100% - 98px);
  outline-color: purple;
  margin: 15px;
}

.inputField:focus {
  background: rgba(255, 255, 255, 1);
}

.inputField::placeholder {
  color: rgba(0, 0, 0, 0.5);

}

.actionButton {
  background-color: transparent;
  border: none;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 22px;
  top: 21px;
  cursor: pointer;
}

button:hover .icon{
  filter:invert(100%);
}

button:hover{
  background-color: rgb(208, 0, 146);
}

.listItem{
  padding: 10px 15px;
  cursor:pointer;
}

.listItem:hover{
  background-color: rgba(255,255,255,0.2);
}

.listItem h3{
  margin:0;
}