.App {
  display: flex;
  text-align: center;
  background: url('/public/backgroundimg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.column {
  width: 50%;
  text-align: left;
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}